{% extends "weather/base.html" %}

<!--{% block page_header %}-->
{% if not error_message %}

<div class="jumbotron border border-secondary" style="background-color:white; border-radius: 0px;">
    {% if has_precipitations %}
    <h1 class="display-4">{{ headline }} - O să plouă fânul &#127754;</h1>
    {% else %}
    <h1 class="display-4">{{ headline }} - Vreme de polog &#127774;</h1>
    {% endif %}
    <p class="lead">Maxima și minima în următoarele {{ forecast_length }} zile în Coșna</p>
    <div class="row mx-auto">
        <div class="col">
            <div class="card mx-auto" style="width: 20rem; background-color:white;">
                <h5 class="card-header" style="background-color:Tomato; color:white;">Maximă</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ max_temperature_date }}</h5>
                    <p class="card-text">{{ max_temperature }} &#8451;</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 20rem; background-color:white;">
                <h5 class="card-header" style="background-color:DodgerBlue; color:white;">Minimă</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ min_temperature_date }}</h5>
                    <p class="card-text">{{ min_temperature }} &#8451;</p>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top:40px;">
    <div class="row mx-auto">
        <div class="col my-auto text-right">
            <p class="lead my-auto">Alarmă pe email în caz de vreme rea</p>
        </div>
        <div class="col my-auto">
            <div class="btn-group btn-group-toggle text-left" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Da
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Nu
                </label>
            </div>
        </div>
    </div>
    <hr style="margin-top:30px;">
    <div class="row mx-auto">
        <div class="col my-auto text-right">
            <p class="lead my-auto">Alarmă pe telefon în caz de vreme rea</p>
        </div>
        <div class="col my-auto">
            <div class="btn-group btn-group-toggle text-left" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option3" autocomplete="off" checked> Da
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option4" autocomplete="off"> Nu
                </label>
            </div>
        </div>
    </div>
</div>
{% else %}
<p>{{ error_message }}...</p>
{% endif %}
<div>
    <p style="color: grey; font-size:13px;">version: {{version}}</p>
</div>
<hr>
<!--{% endblock page_header %}-->