{% extends "weather/base.html" %}

<!--{% block page_header %}-->
{% if not error_message %}

<div class="jumbotron border border-secondary" style="background-color:white; border-radius: 0px;">
    {% if has_precipitations %}
    <h1 class="display-4">{{ headline }} - O să plouă fânul &#127754;</h1>
    {% else %}
    <h1 class="display-4">{{ headline }} - Vreme de polog &#127774;</h1>
    {% endif %}
    <p class="lead">Maxima și minima în următoarele {{ forecast_length }} zile în <b>{{ location }}</b></p>
    <div class="row mx-auto">
        <div class="col">
            <div class="card mx-auto" style="width: 20rem; background-color:white;">
                <h5 class="card-header" style="background-color:Tomato; color:white;">Maximă</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ max_temperature_date }}</h5>
                    <p class="card-text">{{ max_temperature }} &#8451;</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto" style="width: 20rem; background-color:white;">
                <h5 class="card-header" style="background-color:DodgerBlue; color:white;">Minimă</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ min_temperature_date }}</h5>
                    <p class="card-text">{{ min_temperature }} &#8451;</p>
                </div>
            </div>
        </div>
    </div>

    <hr style="margin-top:40px;">

    <h1 class="display-5">Alarme</h1>

    <p class="card-text" style="font-size: 13; color:grey;">
        Se poate activa o alarmă care va anunța pe email sau prin mesaj dacă vremea e bună de fân, cu alte cuvinte
        dacă timpul va fi frumos și nu va ploua. Emailul sau mesajul vor fi trimise la ora setată în pagina de setări.
        De asemenea se poate schimba locația și zilele în care alarmele să fie trimise.</p>

    <div class="row justify-content-center" style="margin-left:-50px;">
        <p class="lead my-auto" style="margin-right:25px;">Email</p>
        <div class="row">
            <form class="my-auto" action="{% url 'weather:update_email_alarm' 'on' %}" method="post">
                {% csrf_token %}
                <button data-toggle="tooltip" type="radio" style="width: 65px; border-radius: 0"
                        class="{% if alarm_status == 'off' %}btn btn-secondary{% else %}btn btn-primary{% endif %}"
                        name="submit">Da
                </button>
            </form>
            <form class="my-auto" action="{% url 'weather:update_email_alarm' 'off' %}" method="post">
                {% csrf_token %}
                <button type="radio" style="width: 65px; border-radius: 0"
                        class="{% if not alarm_status == 'off' %}btn btn-secondary{% else %}btn btn-primary{% endif %}"
                        name="submit">Nu
                </button>
            </form>
        </div>
    </div>
</div>
{% else %}
<p>{{ error_message }}...</p>
{% endif %}
<div>
    <p style="color: grey; font-size:13px;">version: {{version}}</p>
</div>
<hr>
<!--{% endblock page_header %}-->