{% extends "weather/base.html" %}

<!--{% block page_header %}-->
{% if not error_message %}

<h1 class="display-4">Setări</h1>
<div class="jumbotron border border-secondary" style="background-color:white; border-radius: 0px;">

    <h1 class="display-5">Alarme</h1>

    <p class="card-text" style="font-size: 13; color:grey;">
        Se poate activa o alarmă care va anunța pe email sau prin mesaj dacă vremea e bună de fân, cu alte cuvinte
        dacă timpul va fi frumos și nu va ploua. Emailul sau mesajul vor fi trimise la ora setată în pagina de setări.
        De asemenea se poate schimba locația și zilele în care alarmele să fie trimise.
        <span style="color:red;">Alarmele sunt trimise la ora 8 dimineata.</span></p>

    <div class="row justify-content-center" style="margin-left:-50px;">
        <p class="lead my-auto" style="margin-right:25px;">Email</p>
        <div class="row">
            <form class="my-auto" action="{% url 'weather:update_settings_email_alarm' 'on' %}" method="post">
                {% csrf_token %}
                <button data-toggle="tooltip" type="radio" style="width: 65px; border-radius: 0"
                        class="{% if alarm_status == 'off' %}btn btn-secondary{% else %}btn btn-primary{% endif %}"
                        name="submit">Da
                </button>
            </form>
            <form class="my-auto" action="{% url 'weather:update_settings_email_alarm' 'off' %}" method="post">
                {% csrf_token %}
                <button type="radio" style="width: 65px; border-radius: 0"
                        class="{% if not alarm_status == 'off' %}btn btn-secondary{% else %}btn btn-primary{% endif %}"
                        name="submit">Nu
                </button>
            </form>
        </div>
    </div>
</div>

<div class="jumbotron border border-secondary" style="background-color:white; border-radius: 0px;">

    <h1 class="display-5">Locație</h1>

    <p class="card-text" style="font-size: 13; color:grey;">
        Modifică locația de bază. Va influența pagina principală și alarmele astfel încât prognozele luate în
        calcul vor fi pentru această locație.</p>

    <div class="row justify-content-center">
        <div class="row">
            <form class="my-auto" action="{% url 'weather:update_settings_location' 'cosna' %}" method="post">
                {% csrf_token %}
                <button data-toggle="tooltip" type="radio" style="width: 70px; border-radius: 0"
                        class="{% if not location == 'cosna' %}btn btn-secondary{% else %}btn btn-primary{% endif %}"
                        name="submit">Coșna
                </button>
            </form>
            <form class="my-auto" action="{% url 'weather:update_settings_location' 'vatra_dornei' %}" method="post">
                {% csrf_token %}
                <button type="radio" style="width: 70px; border-radius: 0"
                        class="{% if not location == 'vatra_dornei' %}btn btn-secondary{% else %}btn btn-primary{% endif %}"
                        name="submit">Vatra
                </button>
            </form>
            <form class="my-auto" action="{% url 'weather:update_settings_location' 'ilisesti' %}" method="post">
                {% csrf_token %}
                <button type="radio" style="width: 70px; border-radius: 0"
                        class="{% if not location == 'ilisesti' %}btn btn-secondary{% else %}btn btn-primary{% endif %}"
                        name="submit">Ilișești
                </button>
            </form>
        </div>
    </div>
</div>
{% else %}
<p>{{ error_message }}...</p>
{% endif %}
<!--{% endblock page_header %}-->